footer
      .container.text-center
        p
          | © 2017 Hangurs | 
          a(href='#') Privacy Policy | 
          |  
          a(href='#') Terms&Conditions | 
          |  
          a(href='#') Fee Schedule
