header.head-main
	.container
		.btn-group.menu(role='group', aria-label='Menu')
			a.btn.btn-default.h1(href='login.html') Login
			a.btn.btn-default.h1(href='/') FAQs
			a.btn.btn-default.h1(href='#about')
				| About 
				span.hidden-xs Hangurs
			a.btn.logo(href='#')
			img.img-responsive(src='/images/logo_blue.svg', alt='Hangurs')